<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <div>
      <input type="text" name="user[email]" placeholder="email">
    </div>
    <div>
      <input type="password" name="user[password]" placeholder='password'>
    </div>
    <button>Login</button>
  </form>
</body>
</html>