<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <p class="navbar-text navbar-right">You are signed in <!-- as <a href="#" class="navbar-link">Mark Otto</a> --></p>
      <h2>Lets Make an Idea</h2>
    </div>
    <div></div>
</nav>
  <div class="inout-group">
    <input type='text' class="form-control" placeholder='what is your project?'>

    <form method="post" action="/profile">
      <input type="url" name ="imagesHere" placeholder="Put imag url here">
      <button>add</button> 
    </form>

   <!--  <img src='http://blog.builddirect.com/wp-content/uploads/2011/07/Desk-top.jpg' id="desktop" class="img-responsive center-block img-rounded" alt="Responsive image"> -->
    
    <div id="ideas-container">
      <!-- iterate through ideas -->
      <% user.ideas.forEach(function(idea) { %>
        <!-- iterate through an idea's images -->
        <% idea.images.forEach(function(imageSrc) { %>
          <img src="<%= imageSrc %>" id="pic">
        <% }); %>
      <% }); %>
    </div>

        <!-- placeholder -->
    <tr id="imag-placeholder" class="text"></tr>

  </div>

  <!-- template -->
  // <script type="text/template" id="imag-template">
  //     <td class="images">
  //       {{= imag }}
  //     </td>
  // </script>

</body>
</html>





