<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <h1>Sign Up</h1>
  <form method="post" action="/signup">
    <div>
      <input type="text" name="user[email]" placeholder='email'>
    </div>
    <div>
      <input type="password" name="user[password]" placeholder='password'>
    </div>
    <button type='sumbit' value='submit'>sign up</button>
  </form>
</body>
</html>