<!DOCTYPE html>
<html>
<head>
  <title>idea for me</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <h1>Sign Up</h1>
  <form method="post" action="/signup">
    <div>
      <input type="text" name="user[email]" placeholder='email'>
    </div>
    <div>
      <input type="password" name="user[password]" placeholder='password'>
    </div>
    <button type='sumbit' value='submit'>sign up</button>
  </form>
</body>
</html>