#desktop {
	width: 80%;
	position: absolute;
	z-index: -1;
}
.text{
    z-index: 1;
}

#imag {
	width: 18%;
	margin: 5px;

}

.num1 {
	transform: rotate(15deg);
}

.num2 {
    transform: rotate(-20deg);
   
}

.num3 {
	transform: rotate(-10deg);
}
