#desktop {
	width: 80%;
	position: absolute;
	z-index: -1;
}
.text{
    z-index: 1;
}

#pic {
	width: 15%;
	margin: 5px;

}

.jumbotron{
	background-image:'http://media02.hongkiat.com/overcome-block-generate-blog-ideas/writer-block.jpg';
	background-repeat: no-repeat;
}

